<div class="container">
  <div class="banner">
    <h1>Let's get a drink.</h1>
  </div>
</div>
<h1> </h1>
<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "cocktail1" %>);">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
    <% end %>
  </div>
  <h1> </h1>
    <div class="wide-button btn btn-info center">
      <%= link_to 'New Cocktail', new_cocktail_path %>
    </div>
</div>
