<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.9)), url(https://images.unsplash.com/photo-1531527122496-151cfb74bda5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80)">
  <div class="banner-home-content">
    <h1>Welcome to Spicy Cocktails</h1>
    <h3>Save and share your favourite cocktail recipes</h3>
    <%= link_to "Check it out", cocktails_path, class: "btn btn-info" %>
  </div>
</div>
