.wide-button {
  width: 100%;
  text-decoration: none;
  margin-bottom: 15px;
}

.wide-button a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
